Flask
python-dotenv
langchain
langchain_experimental
requests
bs4
beautifulsoup4
pillow
werkzeug
PyPDF2
python-pptx
faiss-cpu
flask_cors
gunicorn
flask[async]
PyJWT
openai
boto3
gspread
oauth2client
pandas
redis
